.blog1{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 70, 70);
  text-decoration: none;
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(255, 255, 255, 0.856);
  font-size: large;
}

.read{
  color: rgb(255, 30, 30);
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: 500;
}
