.handle{
  text-align: center;
}
.handle1{
  color: #65c4ff;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 130%;
  margin-right: auto;
}

.handle1:hover{
  color: #009dff;
}

.handle2{
  color: #ff71b1;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 130%;
  margin-right: auto;
}

.handle2:hover{
  color: #DD2A7B;
}

.handle3{
  color: white;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 130%;
  margin-right: auto;
}